@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Xtendable Exports</h1>
    <p class="lead">We provide the ability to generate custom exports of account information meeting a given set of criteria.</p>
    <p>Use our incredible export wizard creator below OR</p>
    <p>Choose from a premade exports!</p>
</div>

<div class="row">

</div>
@section Scripts
{
    <script>
        
    </script>
}