@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Xtendable Exports</h1>
    <p class="lead">We provide the ability to generate custom exports of account information meeting a given set of criteria.</p>
    <p>Use our incredible export wizard creator below OR Choose from premade exports!</p>
</div>

<div class="row">
    <div class="col-md-6">
        <select id="ddPremadeExports"></select>
        <button id="btnPremadeExports">Use Export</button>
    </div>
    <div class="col-md-6">
        <div id="exportDetails">

        </div>
    </div>
</div>
<div class="row">
    <hr />
    Template Creator Here:
</div>
@section Scripts
{
    <script>
        fillDropDown('/Home/GetPremadeExports', $('#ddPremadeExports'));

        $('#btnPremadeExports').prop('disabled', false);

        $('#ddPremadeExports').change(function () {
            $('#exportDetails').html('');
            $('#btnPremadeExports').prop('disabled', true);

            if ($(this).val() != '') {
                $('#btnPremadeExports').prop('disabled', false);
                $('#exportDetails').html(
                    'NAME : ' + $("option:selected", this).text() +
                    '<br/>DELIMETER : ' + $("option:selected", this).attr('data-delimeter') +
                    '<br/>FIELDS : ' + $("option:selected", this).attr('data-fields') +
                    '<br/>FILE NAME FORMAT : ' + $("option:selected", this).attr('data-filenameformat')
                    );
            }
        });

        $('#btnPremadeExports').on('click', function () {
            if ($('#ddPremadeExports').val() != '') {
                window.location = '/Home/GetExport?id=' + $('#ddPremadeExports').val();
            }
            return false;
        })

        function fillDropDown(url, dropDownElement) {
            $.ajax({
                url: url,
                dataType: 'json',
                async: false,
                success: function (result) {
                    dropDownElement.empty();
                    if (result.length == 0) {
                        dropDownElement.append($('<option/>', {
                            value: ''
                        }).html('No Premades Saved'));
                    } else {
                        dropDownElement.append($('<option/>', {
                            value: ''
                        }).html('Premade Exports'));
                        $(result).each(function () {
                            dropDownElement.append(
                                $('<option/>', {
                                    value: this.Id
                                })
                                .attr('data-delimeter', this.Delimeter)
                                .attr('data-fields', this.Fields)
                                .attr('data-filenameformat', this.FileNameFormat)
                                .html(this.Name));
                        });
                    }
                },
                error: function (jqXHR, error) {
                    dropDownElement.append($('<option/>', {
                        value: '',
                        selected: 'selected'
                    }).html('ERROR'))
                        .addClass('ddError');
                }
            });
        }
    </script>
}
